<h3>Drag-Drop demo</h3>

<div class="row eventComparisionPane">

  <div class="col-4" vsfDroppable="availableEvents"
  errorClassName="error"
  successClassName="success"
  (onDrop)="dropped($event)">

    <h3>Available Events</h3>

    <ul *ngFor="let availableEvent of Names.availableEvents" >

      <li  toBeDroppedAt="selectedEvents droppableEvents"
      vsfDraggable="availableEvents"
      [draggedData]="availableEvent"
      focusClassName="focus"
      >{{availableEvent}}</li>

    </ul>

  </div>

  <hr>

  <div class="col-4" vsfDroppable="droppableEvents"
  errorClassName="error"
  successClassName="success"
   (onDrop)="dropped($event)">

    <h3>Droppable Events</h3>

    <ul *ngFor="let droppableEvent of Names.droppableEvents" >

      <li  toBeDroppedAt='selectedEvents availableEvents'
      vsfDraggable="droppableEvents"
      [draggedData]="droppableEvent"
      focusClassName="focus"
      >{{droppableEvent}}</li>

    </ul>

  </div>

  <hr>

  <div class=" col-4" vsfDroppable="selectedEvents"
  errorClassName="error"
  successClassName="success"
  (onDrop)="dropped($event)">

    <h3>Selected Events</h3>

    <ul *ngFor="let selectedEvent of Names.selectedEvents">

      <li  toBeDroppedAt="availableEvents"
      [draggedData]="selectedEvent"
      focusClassName="focus"
      vsfDraggable="selectedEvents"
      >{{selectedEvent}}</li>

    </ul>

  </div>

</div>
