.button-group{
	max-width: 100%;
	border-style: solid;
	border-width: 0.05em;
	border-radius: .8em;
	margin: .1em;
	padding: 0.2em;
}

.buttons{
	display: inline-block;
}

div.button-group button{
	margin: 0.1em;
}

div.button.active>div.default-template>vsf-button>button,
div.button.active>div.custom-template>vsf-button>button
{
	background-color:blue;
	color:white
}

