div.password-panel.password-panel-invisible{
  opacity: 0;
}

div.password-panel.password-panel-visible{

  opacity: 1;
}

.password-panel{
  z-index: 2;
  position: relative;
  background-color: aqua;
  padding: .25em .5em;
  position: absolute;
  color: black;
}
