<div class="selection-list"
  [ngStyle]="listStyle"
  [ngStyle]="{width: itemWidth}"
>
  <div  *ngFor="let item of items;let i=index">
    <div class="selection-item"
      [ngStyle]="itemStyle"
      (click)="itemClicked()"
      (mouseenter)="hoveredIndex=i"
      (mouseleave)="hoveredIndex=-1"
      [ngClass]="{hoveredOn: i==hoveredIndex}"
    >

      <div *ngIf="!customItemTemplate" class="default-selection-item">
        {{item}}
      </div>

      <div *ngIf="customItemTemplate" class="custom-selection-item">
        <ng-container *ngTemplateOutlet="customItemTemplate,context:{item:item}"></ng-container>
      </div>

    </div>
  </div>
</div>
